{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a class="plzbwhite" href="{% url 'recipe_list' %}">Main page</a>
    </nav>
</header>
<main>
    <h1>Edit a recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Edit</button>
    </form>
</main>
{% endblock content %}
