<!-- inherits from base.html -->
{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        <!-- The user variable is automatically provided by Django in all templates -->
        <!-- So you can use user.is_authenticated, username, and first_name -->
        <!-- Added the span tag to get it to match rest of naviation class -->
            <span class="plzbwhite">Hello, {{ user.username }}</span>
            <a class="plzbwhite" href="{% url 'recipe_list' %}">Main page</a>
            <a class ="plzbwhite" href="{% url 'my_recipe_list' %}">My recipes</a>
            <a class="plzbwhite" href="{% url 'create_recipe' %}">Create a recipe</a>
            <a class="plzbwhite" href="{% url 'user_logout' %}">Logout</a>
        {% else %}
            <!-- recipe_list tells the HTML to go to recipes/ because of urls.py  -->
            <text class="plzbwhite">Hello, Chef</text>
            <a class="plzbwhite" href="{% url 'recipe_list' %}">Main page</a>
            <a class="plzbwhite" href="{% url 'signup' %}">Sign up</a>
            <a class="plzbwhite" href="{% url 'user_login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <div class="main2">
        <h1>Scrumptious Recipes</h1>
    <h2>All the foods that's fit to eat</h2>
    <div class="container">
        <!-- loops over recipe_list -->
        {% for recipe in recipe_list %}
        <div class="{% cycle 'row1' 'row2' 'row3' %}">
            <h3>
                <!-- the loop creates a recipe variable we can use like in Python -->
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                <!-- formats the date to custom values -->
                <p>{{ recipe.created_on|date:"F j, Y" }}</p>
            </h3>
            <img src="{{ recipe.picture }}">
            <div>4.3 stars</div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
