<!-- this loads the static tag so we can use it in the HTML -->
{% load static %}

<!DOCTYPE html>
<head>
    <!-- this says "use the static function to find the path to css/recipes.cc inside the static folder -->
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <!-- to show data in a template, use the {{ variable.property }} syntax to substitute data from the varaibles into the HTML -->
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>
    {% block content %}{% endblock content %}
    <footer>
        <div>Made with love by Scrumptious Recipes</div>
    </footer>
</body>
</html>
